@import "tailwindcss";

:root {
  --primary-color: hsl(0, 0%, 0%);
  --secondary-color: hsl(0, 0%, 100%);
}

body {
  margin: 0;
  overflow: hidden;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

#img2pxl {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 90vh;
  border: 5px solid var(--secondary-color);
  box-shadow: 10px 10px var(--secondary-color);
}

.tp-rotv {
  position: absolute;
  top: 0;
  right: 0;
}